{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/login_register.css')}}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="registration-form">
        {{ form_start(registrationForm) }}
            <h1>Sin up</h1>
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.age) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'   
            }) }}
            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
