{% extends 'base.html.twig' %}

{% block title %}Hello WaitGameController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>wait game</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>MinElo</th>
            <th>MaxElo</th>
            <th>Join</th>
        </tr>
        {% for wait in waits %}
            <tr>
                <td>{{wait.id}}</td>
                <td>{{wait.userID.Name}}</td>
                <td>{{wait.minElo}}</td>
                <td>{{wait.maxElo}}</td>
                <td><a href="{{path('app_enter_game', {'id': wait.id }) }}">Join</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
