{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/view_wait_game.css')}}">
{% endblock %}

{% block title %}Hello WaitGameController!{% endblock %}

{% block body %}
    <h1>Wait game</h1>
    <div class="join">
        <div class="ip-group">
            <label for="minElo">Min Elo</label>
            <input type="number" id="minElo">
        </div>
        <div class="ip-group">
            <label for="maxElo">Max Elo</label>
            <input type="number" id="maxElo">
        </div>
        <button>Join</button>
    </div>
    <div class="container">
        <div class="items">
            <div class="item item-r item-h">ID</div>
            <div class="item item-r item-h">Name</div>
            <div class="item item-r item-h">Min Elo</div>
            <div class="item item-r item-h">Max Elo</div>
            <div class="item item-h"> Join</div>
        </div>
        {% for wait in waits %}
            <div class="items">
                <div class="item item-r">{{wait.id}}</div>
                <div class="item item-r">{{wait.userID.Name}}</div>
                <div class="item item-r">{{wait.minElo}}</div>
                <div class="item item-r">{{wait.maxElo}}</div>
                <div class="item"> <a href="{{path('app_enter_game', {'id': wait.id }) }}">Join</a></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
